// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much
@import "footnote";

// cleanpress screws up the syntax highlighting boxes pretty badly
figure.code{
   figcaption{
      text-align: center;
      color: #555555;
      font-style: italic;
   }
   .line-numbers{
      color: #93A1A1;
   }
   table{
		margin-bottom: 0;
   }
}
